{% extends 'base.html.twig' %}

{% block title "mon application react !" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}