{% extends 'base.html.twig' %}

{% block title "mon application react !" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}

{% block body %}
    <h1>Page d'accueil</h1>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}